<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../storage/img/productos/ai-generated-8288697_640.webp">
    <title>Document</title>
    <link rel="stylesheet" href="../css/chekout.css">
</head>
<body>
    <header>
        <a href="../views/detail1.html">
            <img src="../storage/img/Checkut/Back.png" alt="back">
        </a>
        <h1>Checkout</h1>
        <a href="../views/home.html">
            <img src="../storage/img/Checkut/Menu.png" alt="menu">
        </a>
    </header>
    <main>
        <div class="product-item">
            <img class="product-image" src="../storage/img/b7e055878b9cf761295d893465258035.jpg" alt="product">
            <p class="product-category">Make Money not friends</p>
            <p class="product-name">Shirts</p>
            <p class="product-price">$212.99</p>
            <img class="points-icon" src="../storage/img/Checkut/puntitos.png" alt="points">  
        </div>
        <div class="quantity-control">
            <button class="quantity-btn">−</button>
            <input type="number" value="1" min="0" class="quantity-input">
            <button class="quantity-btn">+</button>
        </div>
        <hr class="divider-line">
        <div class="product-item">
            <img class="product-image" src="../storage/img/dc2e9db4624b85f9f9fe091703ede5d4.jpg" alt="product">
            <p class="product-category">Pantalón Jogger</p>
            <p class="product-name2">Jeans</p>
            <p class="product-price2">$194.99</p>
            <img class="points-icon" src="../storage/img/Checkut/puntitos.png" alt="points">
        </div>
        <div class="quantity-control">
            <button class="quantity-btn">−</button>
            <input type="number" value="1" min="0" class="quantity-input">
            <button class="quantity-btn">+</button>
        </div>
        <hr class="divider-line">
    </main>
    
</body>
</html>