<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Foodgo-splash-screen.png" type="image/png">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <!-- <div class="fuego">
        <video autoplay loop muted>
            <source src="../storage/img/vecteezy_fire-frame-loop-effect-burning-background-with-fire_9389879.mp4" alt="video_html">
        </video>
    </div> -->
    <header>
        <div class="header__titulo">
            <h1>Hello, Welcome 👋</h1>
            <h3>Darwin Machuca</h3>
        </div>
        <img src="../storage/img/mi-foto.png">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes. . . ">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>

        <!-- Div donde se mostrarán los resultados -->
        <div class="results"></div>

        <script src="script.js"></script>
        <ul class="nav__categoria">
            <li class="select"><img src="../storage/img/cuadraditos.png"><a href="#">All Items</a></li>
            <li><img src="../storage/img/camisita.png"><a href="#">Shirts</a></li>
            <li><img src="../storage/img/sudadera.png" alt=""><a href="#">Jeans</a></li>
            <li><img src="../storage/img/busito.png" alt=""><a href="#">Buzos</a></li>
            <li><img src="../storage/img/camisita.png"><a href="#">Jackets</a></li>
        </ul>
    </nav>
    <main>
        <section class="section__productos">
            <article class="article__contenedora">
                <a href="produco1.html"><img src="../storage/img/Snoop-Dogg-Chair-Logo-Varsity-Jacket.jpg"></a>
                <div class="div__informacion">
                    <strong>Varsity Jacket</strong>
                    <p>Jacket</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart1" type="checkbox">
                </div>

            </article>
            <article class="article__contenedora2">
                <a href="producto2.html"><img src="../storage/img/The-Underdoggs-Snoop-Dogg-Tracksuit.jpg"></a>
                <div class="div__informacion">
                    <strong>Brown tracksuit</strong>
                    <p>Shirts</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart2" type="checkbox">
                </div>
            </article>

            <article class="article__contenedora3">
                <a href="product3.html"><img src="../storage/img/67933891c5eb8793292560fc65f206ff.jpg"></a>
                <div class="div__informacion">
                    <strong>Azul Sky</strong>
                    <p>Buzos</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$162.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora4">
                <a href="product4.html"><img src="../storage/img/b0e4ca60c4f0af8e3a2ec9e6f2c9d517.jpg"></a>
                <div class="div__informacion">
                    <strong>Champion Kobe Bryant</strong>
                    <p>Shirts</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">
                        <label>$612.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora5">
                <a href="product4.html"><img src="../storage/img/dc2e9db4624b85f9f9fe091703ede5d4.jpg"></a>
                <div class="div__informacion">
                    <strong>Pantalón Jogger Cierres - Negro</strong>
                    <p>Jeans</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$126.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora6">
                <a href="product4.html"><img src="../storage/img/anuel.jpg"></a>
                <div class="div__informacion">
                    <strong>AMIRI
                        M.A. Paisley Straight-Leg Jeans</strong>
                    <p>Jeans</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora7">
                <a href="product4.html"><img src="../storage/img/b7e055878b9cf761295d893465258035.jpg"></a>
                <div class="div__informacion">
                    <strong>Make Money not friends</strong>
                    <p>Shirts</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora8">
                <a href="product4.html"><img src="../storage/img/4fd64ff57102737e265fe1180cde0c37.jpg"></a>
                <div class="div__informacion">
                    <strong>Tennessee Titans</strong>
                    <p>Shirts</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212.9</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora9">
                <a href="product4.html"><img src="../storage/img/891f8257f1d457c739db285b1b08429f.jpg"></a>
                <div class="div__informacion">
                    <strong>Cargo Pantalon</strong>
                    <p>Shirts</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$112.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora10">
                <a href="product4.html"><img src="../storage/img/buzo-anuel.jpeg"></a>
                <div class="div__informacion">
                    <strong>Amiri pink MA Bar logo-patch Hoodie</strong>
                    <p>Buzos</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$412.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
            <article class="article__contenedora11">
                <a href="product4.html"><img src="../storage/img/buzo-azul.jpeg"></a>
                <div class="div__informacion">
                    <strong>Palm Angels</strong>
                    <p>Jeans</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$112.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart3" type="checkbox">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer_icon">
            <a href="../views/home.html">
                <img class="social-icon" src="../storage/img/Home.png" alt="Home">
            </a>
            <a href="../views/detail.html">
                <img class="social-icon" src="../storage/img/Cart.png" alt="Cart">
            </a>
            <a href="../views/favourite.html">
                <img class="social-icon" src="../storage/img/Favourite.png" alt="Favourite">
            </a>
            <a href="../views/account.html">
                <img class="social-icon" src="../storage/img/Account.png" alt="">
            </a>
        </div>
    </footer>
</body>

</html>