<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/storage/img/Foodgo-splash-screen.png" type="image/png">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <!-- <div class="fuego">
        <video autoplay loop muted>
            <source src="../storage/img/vecteezy_fire-frame-loop-effect-burning-background-with-fire_9389879.mp4" alt="video_html">
        </video>
    </div> -->
    <header>
        <div class="header__titulo">
            <h1>Hello, Welcome 👋</h1>
            <h3>Darwin Machuca</h3>
        </div>
        <img src="../storage/img/mi-foto.png">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search" placeholder="Search clothes. . . ">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>

        <!-- Div donde se mostrarán los resultados -->
        <div class="results"></div>

        <script src="script.js"></script>
        <ul class="nav__categoria">
            <li class="select"><img src="../storage/img/cuadraditos.png"><a href="#">All Items</a></li>
            <li><img src="../storage/img/camisita.png"><a href="#">Shirts</a></li>
            <li><img src="../storage/img/sudadera.png" alt=""><a href="#">Jeans</a></li>
            <li><img src="../storage/img/busito.png" alt=""><a href="#">Buzos</a></li>
            <li><img src="../storage/img/camisita.png"><a href="#">Jackets</a></li>
        </ul>
    </nav>
    <main>
        <section class="section__productos">
            <article class="article__contenedora">
                <a href="produco1.html"><img src="../storage/img/Snoop-Dogg-Chair-Logo-Varsity-Jacket.jpg"></a>
                <div class="div__informacion">
                    <strong>Varsity Jacket</strong>
                    <p>Jacket</p>
                </div>
                <div class="div__comentarios">
                    <div class="div__valoracion">

                        <label>$212.99</label>
                    </div>
                    <img src="../storage/img/estrellita.png">
                    <p class="div__comentarios2">5.0</p>
                    <input class="heart1" type="checkbox">
                </div>

            </article>
            
        </section>
    </main>
</body>

</html>