<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varsity Jacket</title>
    <link rel="icon" type="image/x-icon" href="../storage/img/productos/ai-generated-8288697_640.webp">
    <link rel="stylesheet" href="../css/producto1.css">
</head>
<body>
    <header>
        <div clsss="header__splash">
            <img src="../storage/img/Snoop-Dogg-Chair-Logo-Varsity-Jacket.jpg">
            <a href="../views/home.html"><img src="../storage/img/productos/atras.png"></a>
            <input class="heart1" type="checkbox">
        </div>
    </header>
</body>
</html>