@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .fuego{
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
    animation: mover 10s linear infinite alternate;
} */

body {
    background-color: var(--color-15);
}

/**************** header ******************/
header {
    /* background-color: red; */
    padding: 28px 19px 0px;
    display: flex;
    justify-content: space-between;
}

.header__titulo {
    /* background-color: olivedrab; */
    display: flex;
    flex-direction: column;
}

.header__titulo h1 {
    /* background-color: violet; */
    font-family: "EncodeSans-Regular";
    font-size: 12px;
    color: var(--color-2);
    font-weight: normal;
    
}

.header__titulo h3 {
    /* background-color: blueviolet; */
    font-family: "EncodeSans-Bold";
    font-size: 16px;
    font-weight: normal;
    color: var(--color-5);
}

header img {
    /* background-color: green; */
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
}

/******************************************/
/**************** nav ******************/
.nav__busqueda {
    /* background: red; */
}

.form__busqueda {
    /* background: blue; */
    padding: 27px 19px 21px 19px;
    overflow: hidden;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding-left: 1px;
}


.input__logo {
    flex: 1;
    /* background: orange; */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 19px;
}

.input__logo::before {
    /* background: orange; */
    content: url(../storage/img/search-normal.png);
    position: absolute;
    padding-left: 10px;
    
}

.form__busqueda input[type="text"] {
    background: var(--color-15);
    box-sizing: content-box;
    flex: 1;
    height: 90%;
    font-family: "EncodeSans-Regular";
    font-size: 14px;
    color: var(--color-5);
    border: 1px solid var(--color-3);
    outline: none;
    border-radius: 10px;
    padding: 0 10px 0 40px;
    box-shadow: 0px 4px 19px var(--color-shadow-2);
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-3);
}

.input__filtro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.input__filtro::after {
    content: url(../storage/img/Filter.png);
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: absolute;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--color-1);
}

