@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 50vh;
    /* background-color: var(--color-7); */
}
/************* Header *************/
header{
    background: linear-gradient(125deg, var(--color-7), var(--color-3) 67%);
    height: 122vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.header__splash{
    /* background-color: var(--color-11); */
    display: flex;
    margin-top: 200px;
}
.header__splash h1{
    font-family: "URBAN";
    font-size: 80px;
    font-weight: normal;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(111, 0, 255), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
