@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 50vh;
    /* background-color: var(--color-7); */
}
/************* Header *************/
.fuego{
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
    animation: mover 10s linear infinite alternate;
}


header{
    
    height: 122vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.header__splash{
    /* background-color: var(--color-11); */
    display: flex;
    margin-top: 200px;
}
.header__splash h1{
    font-family: "URBAN";
    font-size: 65px;
    font-weight: normal;
    background: linear-gradient(90deg, rgb(98, 0, 255), rgb(26, 255, 5), rgb(255, 0, 179));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__img{
    
    display: flex;
    align-items: flex-end;
    margin-top: 767px;
   
}
.img__1{
    /*background-color: aqua;*/
    position: absolute;
    left: 0px;
    width: 421px;
    height: 500px;
    margin-left: -54px;
}

.letra{
    font-family: EncodeSans-ExtraBold;
    text-decoration: none;
}