:root{
    --color-1: #292526;
    --color-2: #787676;
    --color-3: #A3A1A2;
    --color-4: #F2F2F2;
    --color-5: #121111;
    --color-6: #ffffff;
    --color-7: rgba(0, 204, 255, 0.514);
    --color-8: #FFD33C;
    --color-9: #FDFDFD;
    --color-10: #000000;
    --color-11: #CAC9C9;
    --color-12: #DFDEDE;
    --color-13: #101010;
    --color-14: #F13658;
    --color-15: #EFF1FF;
    
}

@font-face {
    font-family: "EncodeSans-ExtraBold";
    src: url("../storage/font/Encode_Sans/static/EncodeSans-ExtraBold.ttf");
}


@font-face {
    font-family: "URBAN";
    src: url("../storage/font/wholecar/Barcelona\ Graffiti\ Bombing.otf");
}

@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/Encode_Sans/static/EncodeSans-Regular.ttf");
}

@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/Encode_Sans/static/EncodeSans-Bold.ttf");
}

@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/Encode_Sans/static/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/Encode_Sans/static/EncodeSans-SemiBold.ttf");
}